# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Kuklo\Desktop\InformatikUni\GitHub\Teamprojekt-Lehramt-Informatik-KIT\Kryptojagd\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
